{% extends "layout.html" %}
{% block body %}

<!-- Section  -->
<section class="about-section">
    <h1 class="h-primary">About</h1>
    <p id="content">
        Our content and resources are freely available and we prefer to keep it that way to encourage our readers
        acquire as many skills as they would like to. We don’t force our readers to sign up with us or submit their
        details either. No preconditions and no impediments. Simply Easy Learning!
        Our mission is to deliver Simply Easy Learning with clear, crisp, and to-the-point content on a wide range of
        technical and non-technical subjects without any preconditions and impediments.
    </p>

</section>

<footer>
    <div class="bottom">
      &copy;www.PythonTutorial.com.
    </div>
</footer>


{% endblock %}
</body>

</html>