{% extends "layout.html" %}
{% block body %}

<section id="section">
    <div class="container">
        <a href="/edit/0"><button id="btn">Add Content</button></a>
        <a href="/logout"><button id="btn">LogOut</button></a>
    </div>

    <div id="Table">
        
    <table id="dash-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Content</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for py_tut in py_tut %}
            <tr>
                <td>{{py_tut.py_id}}</td>
                <td>{{py_tut.slug}}</td>
                <td>{{py_tut.py_intro}}</td>
                <td>{{py_tut.py_content[0:15]}}</td>
                <td><a href="/edit/{{py_tut.py_id}}"><button class="btn btn-primary">Edit</button></a></td>
                <td><a href="/delete/{{py_tut.py_id}}"><button class="btn">Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</section>


<footer>
    <div class="bottom">
        &copy;www.PythonTutorial.com.
    </div>
</footer>
{% endblock %}